/* Fuente general */
body {
    font-family: ;
}

/* Enlaces */
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #007bff; 
    text-decoration: underline;
}
h4 {
    margin-bottom: 5px; /* Reduce el espacio entre el título y la lista */
}
/* Listas */
li {
    margin-bottom: 4px;
}
ul {
    list-style: none; /* Elimina los puntos */
    padding-left: 0;
    margin-top: 0;
}   
    
/* Footer */
footer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño */
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
}
footer > div {
    max-width: 1900px; /* O el valor que prefieras */
    margin: auto; /* Centra el contenido */
}

footer img {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    margin-right: 10px;
}

footer img:hover {
    opacity: 1;
}

/* Menú de navegación (justo encima del footer) */
.nav-menu {
    width: 100%;  /* Ocupar todo el ancho */
    background-color: #777777;  /* Color de fondo */
    padding: 0px 0;  /* Espaciado arriba y abajo */
    text-align: center;  /* Centrar el contenido */
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;  /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex;  /* Coloca los enlaces en línea */
    justify-content: center;  /* Centra los elementos */
    width: 100%;  /* Se asegura de ocupar todo el ancho */
}

.nav-links li {
    display: inline; /* Mantiene los elementos en línea */
    margin: 0 15px;  /* Espaciado entre elementos */
}

.nav-links a {
    text-decoration: none;
    color: #fff;  /* Color de texto */
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px; /* Espaciado interno para que no queden pegados */
    display: block; /* Hace que toda el área sea clickeable */
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;  /* Cambio de color al pasar el ratón */
}
