/* Fuente general */
body {
    font-family: ;
}

/* Enlaces */
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #007bff; 
    text-decoration: underline;
}
h4 {
    margin-bottom: 5px; /* Reduce el espacio entre el título y la lista */
}
/* Listas */
li {
    margin-bottom: 4px;
}
ul {
    list-style: none; /* Elimina los puntos */
    padding-left: 0;
    margin-top: 0;
}   
    
/* Footer */
footer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño */
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
}
footer > div {
    max-width: 1900px; /* O el valor que prefieras */
    margin: auto; /* Centra el contenido */
}

footer img {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    margin-right: 10px;
}

footer img:hover {
    opacity: 1;
}

/* Ajuste de imágenes del footer */
nav {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    display: flex;
    max-width: 1900px;
}
nav div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

nav p {
    margin: 5px 0;
}
/* --- MENÚ EN EL FOOTER --- */
.nav-menu {
    width: 100%;
    background-color: #777777;
    padding: 10px 0; /* Espaciado superior e inferior */
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra los enlaces */
    gap: 30px; /* Espaciado entre enlaces */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff; /* Blanco para que resalte en fondo oscuro */
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff;
}
