/* Fuente general */
body {
    font-family: ;
}

/* Enlaces */
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #007bff; 
    text-decoration: underline;
}
h4 {
    margin-bottom: 5px; /* Reduce el espacio entre el título y la lista */
}
/* Listas */
li {
    margin-bottom: 4px;
}
ul {
    list-style: none; /* Elimina los puntos */
    padding-left: 0;
    margin-top: 0;
}   
ul li::before {
    content: "✔ ";
    color: #7d00ff; /* Cambia el color solo del ✔ */
}

    
/* Footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
}

footer img {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    margin-right: 10px;
}

footer img:hover {
    opacity: 1;
}

/* Ajuste de imágenes del footer */
footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
}

}
