body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px 0;
}
button:hover {
    background-color: #0056b3;
}
